.searchBar {
    display: flex;
    flex-direction: column;
}

/* Small devices */
@media (min-width: 576px) {
    .searchBar {
        flex-direction: row;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .searchBar {
        flex-direction: column;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .searchBar {
        flex-direction: row;
    }
}

.caption {
    align-self: center;
}

/* Extra small and Medium devices */
@media (max-width: 575px), (min-width: 768px) and (max-width: 991px) {
    .caption {
        margin-bottom: 1rem;
    }
}

/* Small and Large+ devices */
@media (min-width: 576px) and (max-width: 767px), (min-width: 992px) {
    .caption {
        margin-bottom: 0;
    }
}

.textField {
    width: 16rem;
}

/* Small devices and Large+ devices */
@media (min-width: 576px) and (max-width: 767px), (min-width: 992px) {
    .textField {
        margin-left: 1rem;
    }
}

/* Medium devices  */
@media (min-width: 768px) and (max-width: 991px) {
    .textField {
        margin-left: 0;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .textField {
        margin-right: 1rem;
    }
}

/* Only large devices */
@media (min-width: 992px) and (max-width: 1199px) {
    .textField {
        width: 14rem;
    }
}
