.searchBar {
    display: flex;
    flex-direction: column;
}

/* Small devices */
@media (min-width: 576px) {
    .searchBar {
        flex-direction: row;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .searchBar {
        flex-direction: column;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .searchBar {
        flex-direction: row;
    }
}

.caption {
    margin-bottom: 1rem;
    align-self: center;
}

/* Small devices */
@media (min-width: 576px) {
    .caption {
        margin-bottom: 0;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .caption {
        margin-bottom: 1rem;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .caption {
        margin-bottom: 0;
    }
}

.textField {
    width: 16rem;
}

/* Small devices */
@media (min-width: 576px) {
    .textField {
        margin-left: 1rem;
    }
}

/* Medium device */
@media (min-width: 768px) {
    .textField {
        margin-left: 0;
    }
}

/* Large devices */
@media (min-width: 992px) {
    .textField {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 14rem;
    }
}